include ../mixins/sub-menu.pug

header.header
    .container
        .row.align-items-center.row-content 
            .col-1 
                .inner-logo 
                    a(href="/")
                        img(src=settingGeneral.logo, alt=settingGeneral.websiteName)

            .col-5
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khoá..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn ms-2"
                        ) Search

            .col-6 
                .inner-menu   
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            - const pathProduct = "/products";
                            a(href=pathProduct) Sản phẩm
                                +sub-menu(layoutProductsCategory, pathProduct)
                        //- li
                        //-     a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0}) 
                        
                        li(class="cart")
                            span(class="cart-icon")
                                <a href="/cart">
                                    <i class="fa-solid fa-bag-shopping"  style="font-size: 18px"></i>
                                    span(class="cart-items") #{miniCart.products.length > 0 ? miniCart.totalQuantity : 0} 
                                </a>

                            div(class="list-item")
                                if(miniCart.products.length > 0)
                                    each item, index in miniCart.products
                                        div(class="border-list")
                                            div(class="item-img")
                                                a(
                                                    class="product-img" 
                                                    title=item.productInfo.thumbnail 
                                                    href=`/products/detail/${item.productInfo.slug}`
                                                )
                                                    img(src=item.productInfo.thumbnail, alt=item.productInfo.slug) 
                                            div(class="detail-item")
                                                div(class="product-details")
                                                    a(
                                                        href=`/cart/delete/${item.product_id}`
                                                        class="remove-item-cart"
                                                    ) <i class="fa-solid fa-xmark" close-alert></i>

                                                    p(class="product-name") 
                                                        a(
                                                            href=`/products/detail/${item.productInfo.slug}`
                                                            title = item.productInfo.title
                                                        ) #{item.productInfo.title}
                                                span(class="price-old") #{item.productInfo.price.toLocaleString()}₫
                                                div(class="product-details-bottom")
                                                    span(class="price") #{item.productInfo.priceNew.toLocaleString()}₫
                                                    span(class="quantity") x #{item.quantity}

                                    div(class="total-price") Tổng tiền tạm tính: 
                                        span(class="price-big") #{miniCart.totalPrice.toLocaleString()}₫

                                    div(class="cart-action")
                                        a(href="/cart") Tiến hành thanh toán
                                                   

                                else 
                                    div(class="no-item") 
                                        p Không có sản phẩm nào.
                        
                        li(class="sub-menu")
                            <i class="fa-regular fa-user" style="font-size: 18px"></i>
                                if(user)
                                    //- li 
                                    //-     a(href="/chat") Chat
                                    ul
                                        li 
                                            a(href="/user/info") Profile
                                        li 
                                            a(href="/users/friends") Bạn bè
                                        li 
                                            a(href="/rooms-chat") Phòng chat
                                        li 
                                            a(href="/user/logout") Đăng xuất
                                else
                                    ul 
                                        li 
                                            a(href="/user/login") Đăng nhập
                                        li 
                                            a(href="/user/register") Đăng ký

                        //- if(user)
                        //-     //- li 
                        //-     //-     a(href="/chat") Chat
                        //-     li 
                        //-         a(href="/users/friends") Bạn bè
                        //-     li 
                        //-         a(href="/rooms-chat") Phòng chat
                        //-     li 
                        //-         a(href="/user/info") #{user.fullName}
                        //-     li 
                        //-         a(href="/user/logout") Đăng xuất
                        //- else 
                        //-     li 
                        //-         a(href="/user/login") Đăng nhập
                        //-     li 
                        //-         a(href="/user/register") Đăng ký