include ../mixins/sub-menu.pug
include ../mixins/cart.pug

header.header
    .container
        div(class="header-content")
            div(class="inner-logo") 
                a(href="/")
                    img(src=settingGeneral.logo, alt=settingGeneral.websiteName)
            div(class="form-search") 
                form(
                    action="/search"
                    method="GET"
                ) 
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khoá..."
                            class="form-control"
                            name="keyword"
                            value=keyword
                        )
                        button(
                            type="submit"
                            class="btn ms-2"
                        ) Search

            div(class="menu-header")  
                .inner-menu   
                    ul 
                        li 
                            a(href="/") Trang chủ
                        li(class="sub-menu")
                            - const pathProduct = "/products";
                            a(href=pathProduct) Sản phẩm
                                +sub-menu(layoutProductsCategory, pathProduct)
                        
                        li(class="cart")
                            +cart(miniCart)
                        
                        li(class="sub-menu")
                            <i class="fa-regular fa-user" style="font-size: 18px"></i>
                                if(user)
                                    ul(style="width: 120px")
                                        li 
                                            a(href="/user/account") Tài khoản
                                        li 
                                            a(href="/users/friends") Bạn bè
                                        li 
                                            a(href="/rooms-chat") Phòng chat
                                        li 
                                            a(href="/user/logout") Đăng xuất
                                else
                                    ul(style="width: 120px") 
                                        li 
                                            a(href="/user/login") Đăng nhập
                                        li 
                                            a(href="/user/register") Đăng ký