extends ../../layouts/default.pug
include ../../mixins/alert.pug


block main
    if(role.permissions.includes("roles_create"))
        div(class="title-heading") Thêm mới nhóm quyền

        +alert-success(5000)
        +alert-error(5000)

        form(
            action=`${prefixAdmin}/roles/create`
            method="POST"
            class="edit-common"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                )
            div(class="form-group")
                label(for="desc") Mô tả
                input(
                    type="text"
                    class="form-control"
                    id="desc"
                    name="description"
                )
            div(class="form-group mt-4")
                a(
                    href=`${prefixAdmin}/roles`
                    class="btn btn-back me-4"
                ) <i class="fa-solid fa-arrow-left"></i> Quay lại

                button(
                    type="submit"
                    class="btn btn-update"
                ) Tạo mới