extends ../../layouts/default.pug

block main 
    if(record.title)
        div(class="title-heading") #{record.title}

    if(record.description)
        div(class="mb-4") <b>Mô tả:</b> #{record.description}

    div(class="mb-4") <b>Số lượng:</b> #{accounts.length}

    .card.mb-3
        .card-body
            div(class="title-header mb-5 ") Danh sách

            table(
                class="table table-sm text-center align-middle"
            )
                thead
                    tr
                        th STT
                        th Avatar
                        th Họ và tên
                        th Email
                        th Số điện thoại
                        th Trạng thái

                tbody
                    if(accounts.length > 0)
                        each item, index in accounts
                            tr
                                td #{index + 1}
                                td 
                                    if(item.avatar)
                                        img(
                                            src=item.avatar 
                                            style="height: 100px; margin-bottom: 15px;"
                                        )
                                td #{item.fullName}
                                td #{item.email}
                                td #{item.phone}
                                td 
                                    if(item.status === "active")
                                        span(class="button-status-active") Hoạt động
                                    else 
                                        span(class="button-status-inactive") Dừng hoạt động
                        
    a(
        href=`${prefixAdmin}/roles`
        class="btn btn-back mt-4"
    ) <i class="fa-solid fa-arrow-left"></i> Quay lại
