extends ../../layouts/default.pug

block main 
    if(role.permissions.includes("accounts_view"))
        div(class="title-heading") Danh sách tài khoản 

        .card.mb-3 
            .card-body 
                .row.mb-4
                    .col-8 
                        div(class="title-header") Danh sách 
                    .col-4
                        if(role.permissions.includes("accounts_create"))
                            a(
                                href=`${prefixAdmin}/accounts/create`
                                class="btn  btn-add-new"
                            ) <i class="fa-solid fa-plus"></i> Thêm mới

                table(
                    class="table table-sm text-center align-middle"
                )
                    thead
                        tr
                            th STT
                            th Avatar
                            th Họ tên
                            th Phân quyền
                            th Email
                            th Trạng thái
                            th Hành động

                    tbody
                        each item, index in records
                            tr(style="padding: 10px") 
                                td  #{index+1}
                                td  
                                    .thumbnail-account
                                        img(
                                            src=item.avatar
                                            alt=item.fullName
                                            style = "width: 100%; height: 100%; object-fit: cover"
                                        )
                                td #{item.fullName}
                                td #{item.role.title}
                                td #{item.email}
                                td
                                    if(role.permissions.includes("accounts_edit"))
                                        if (item.status === "active")
                                            a(
                                                href="javascript:;"
                                                data-status="active"
                                                class = "button-status-active"
                                            ) Active
                                        else
                                            a(
                                                href="javascript:;"
                                                class = "button-status-inactive"
                                                data-status="inactive"
                                            ) Inactive
                                td
                                    .button-action
                                        if(role.permissions.includes("accounts_view"))
                                            a(
                                                class="btn btn-detail btn-sm"
                                                href=`${prefixAdmin}/accounts/detail/${item.id}`
                                            ) <i class="fa-solid fa-circle-info"></i> DETAIL
                                        if(role.permissions.includes("accounts_edit"))
                                            a(
                                                class="btn btn-edit btn-sm ms-1"
                                                href=`${prefixAdmin}/accounts/edit/${item.id}`
                                            ) <i class="fa-solid fa-pencil"></i> EDIT
                                        if(role.permissions.includes("accounts_delete"))
                                            button(
                                                class="btn btn-delete btn-sm ms-1"
                                            ) <i class="fa-solid fa-trash"></i> DETELE 