extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    div(class="home-slider single-item")
        img(src="/images/slider.jpg")
        img(src="/images/slider_2.webp")

    .container
        div(class="policies")
            //- item 1
            div(class="policies-item")
                div(class="policies-img")
                    img(src="/images/policies_icon_1.jpg")
                div(class="policies-info")
                    div(class="policies-title") MIỄN PHÍ VẬN CHUYỂN
                    div(class="policies-desc") Hóa đơn từ 500k

            //- item 2
            div(class="policies-item")
                div(class="policies-img")
                    img(src="/images/policies_icon_2.jpg")
                div(class="policies-info")
                    div(class="policies-title") TÍCH ĐIỂM THÀNH VIÊN
                    div(class="policies-desc") Cộng dồn lên đến 15%

            //- item 3
            div(class="policies-item")
                div(class="policies-img")
                    img(src="/images/policies_icon_3.jpg")
                div(class="policies-info")
                    div(class="policies-title") ĐỔI TRẢ TẬN NHÀ
                    div(class="policies-desc") Trong 7 ngày

            //- item 4
            div(class="policies-item")
                div(class="policies-img")
                    img(src="/images/policies_icon_4.jpg")
                div(class="policies-info")
                    div(class="policies-title") HỖ TRỢ NHANH CHÓNG
                    div(class="policies-desc") Hotline: 028.999.999.00
                
        div(class="category-list filtering")
            each item in childCategorys
                div(class="category-item" style="width: 200px")
                    a(href=`/products/${item.slug}`)
                        div(class="category-img")
                            img(src=item.thumbnail)
                        div(class="category-info")
                            div(class="category-info-name") #{item.title} 
                            span(class="category-info-number") #{item.totalProducts} sản phẩm
                
        .section-products-featured.my-4
            .row
                .col-12
                    +box-head("Sản phẩm nổi bật")

            div(class="product-item-grid")
                    each item in productsFeatured
                        .product-item
                            .inner-image
                                img(src=item.thumbnail, alt=item.title)
                                if(item.featured == "1")
                                    .inner-featured Nổi bật
                            .inner-content
                                .inner-title
                                    a(href=`/products/detail/${item.slug}`) #{item.title}
                                .inner-price
                                    span.inner-price-new #{item.priceNew.toLocaleString()}₫
                                    span.inner-price-old #{item.price.toLocaleString()}₫
                                    span.inner-discount -#{item.discountPercentage}%

        .section-products-new.my-5
            .row
                .col-12
                    +box-head("Sản phẩm mới")

            div(class="product-item-grid")
                each item in newProducts
                    .product-item
                        .inner-image
                            img(src=item.thumbnail, alt=item.title)
                            if(item.featured == "1")
                                .inner-featured Nổi bật
                        .inner-content
                            .inner-title
                                a(href=`/products/detail/${item.slug}`) #{item.title}
                            .inner-price
                                span.inner-price-new #{item.priceNew.toLocaleString()}₫
                                span.inner-price-old #{item.price.toLocaleString()}₫
                                span.inner-discount -#{item.discountPercentage}%
    
    //- script(type="text/javascript" src="/js/slick-slider.js")