mixin table-tree(items, level = 1)
    each item, index in items
        - const prefix = Array(level + 1).join("-- ")
        tr 
            td 
                input(
                    type="checkbox"
                    name="id"
                    value=item.id
                )
            td #{item.index}
            td
                img(
                    src= item.thumbnail
                    alt= item.title
                    width="100px"
                    height="auto"
                )
            td(class="text-start") #{prefix}#{item.title}
            td
                div(class="select-position")
                    span(class="reduce-btn")
                        <i class="fa-solid fa-minus"></i>
                    input(
                        class="form-control"
                        type="number"
                        name="position"
                        value=item.position 
                        min="1"
                    )
                    span(class="plus-btn") 
                        <i class="fa-solid fa-plus"></i>
                            
            td
                if(role.permissions.includes("products-category_edit")) 
                    select(
                        class="form-control form-select list-status"
                        name = "status"
                        data-id = item.id
                        data-status = item.status
                        style="font-size: 14px; width: 155px; margin: 0 auto"
                        button-change-status-category
                    )
                        option(value = "active") Hoạt động
                        option(value = "inactive") Dừng hoạt động
            td 
                p #{item.accountFullname}
                p 
                    +formatDate(item.createdBy.createdAt)
            td 
                - const updatedBy = item.updatedBy.slice(-1)[0]
                if(updatedBy)
                    p #{updatedBy.accountFullName}
                    p 
                        +formatDate(updatedBy.updatedAt)
            td
                .button-action 
                    a(
                        href=`${prefixAdmin}/products-category/detail/${item.id}`
                        class="btn btn-detail btn-sm"
                        ) <i class="fa-solid fa-circle-info"></i>
                    if(role.permissions.includes("products-category_edit"))
                        a(
                            href=`${prefixAdmin}/products-category/edit/${item.id}`
                            class="btn btn-edit btn-sm"
                            ) <i class="fa-solid fa-pencil"></i>
                    if(role.permissions.includes("products-category_delete"))
                        button(
                            class="btn btn-delete btn-sm"
                            button-delete
                            data-id = item.id
                        ) <i class="fa-solid fa-trash"></i> 
        if item.children && item.children.length > 0
            +table-tree(item.children, level + 1)
