mixin alert-success(time)
    - if (messages.success)
        .message.info
            div(
                class="alert alert-success show-success"
                show-alert
                data-time=time
            ) #{messages.success} <i class="fa-solid fa-xmark" close-alert></i>

mixin alert-error(time)
    - if (messages.error)
        .message.info
            div(
                class="alert alert-danger show-danger"
                show-alert
                data-time=time
            ) #{messages.error} <i class="fa-solid fa-xmark" close-alert></i>