extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    .container.my-3
        .row.block-profile
            .col-3
                .block-menu
                    .title-account TRANG TÀI KHOẢN
                    p Xin chào, 
                        span(class="name-user") #{user.fullName} !
                    ul 
                        li(class="title-info")
                            a(href="/user/info") Thông tin tài khoản
                        li(class="title-info")
                            a(href=`/user/edit/${user.id}`) Cập nhật tài khoản
                        li(class="title-info")
                            a(href=`/user/order/${user.id}`) Đơn hàng của bạn
                        li(class="title-info")
                            a(href="/user/password/change") Đổi mật khẩu

            .col-9
                .row.justify-content-center
                    .col-8.form-fill
                        .block-info.mb-4
                            .title-account(style="text-align: center") ĐỔI MẬT KHẨU
                            div 
                                p Để đảm bảo tính bảo mật vui lòng đặt mật khẩu với ít nhất 8 kí tự
                            form(
                                action="/user/password/reset"
                                method="POST"
                            )
                                div(class="form-group mb-3")
                                    label(for="password") Mật khẩu mới
                                        span(class="required") *
                                    input(
                                        type="password"
                                        class="form-control"
                                        placeholder="Mật khẩu mới"
                                        id="password"
                                        name="password"
                                        required
                                    )
                                div(class="form-group")
                                    label(for="confirmPassword") Xác nhận mật khẩu
                                        span(class="required") *
                                    input(
                                        type="password"
                                        class="form-control"
                                        placeholder="Nhập lại mật khẩu"
                                        id="confirmPassword"
                                        name="confirmPassword"
                                        required
                                    )
                                div(class="form-group d-grid mt-3")
                                    button(
                                        type="submit"
                                        class="btn"
                                        style="margin-top: 8px"
                                    ) Đổi mật khẩu
        
