extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3
        .row
            .col-12
                +box-head("Thông tin tài khoản")
        if(user.avatar)
            img(
                src=user.avatar 
                style="height: 100px; margin-bottom: 15px;"
                class="mb-4"
            )

        div(class="mb-4") <b>Họ tên:</b> #{user.fullName}
        div(class="mb-4") <b>Email:</b> #{user.email}

        a(
            class="btn btn-warning btn-sm"
            href=`/user/edit/${user.id}`
        ) Cập nhật