extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    .container.my-3
        .row.block-profile
            .col-3
                .block-menu
                    .title-account TRANG TÀI KHOẢN
                    p Xin chào, 
                        span(class="name-user") #{user.fullName} !
                    ul 
                        li(class="title-info")
                            a(href="/user/account") Thông tin tài khoản
                        li(class="title-info")
                            a(href=`/user/edit/${user.id}`) Cập nhật tài khoản
                        li(class="title-info")
                            a(href=`/user/order/${user.id}`) Đơn hàng của bạn
                        li(class="title-info")
                            a(href=`/user/info/${user.id}`) Sổ địa chỉ
                        li(class="title-info")
                            a(href="/user/password/change") Đổi mật khẩu

            .col-9
                .row.justify-content-center
                    .form-fill.table-fill
                        .block-info.mb-4
                            .title-account ĐƠN HÀNG CỦA BẠN
                            if(order.length > 0)
                                table(class="table table-bordered text-center align-middle table-order")
                                    thead
                                        tr
                                            th STT
                                            th Đơn hàng
                                            th Ngày tạo
                                            th Giá trị đơn hàng
                                            th Trạng thái
                                    tbody
                                        each item, index in order
                                            tr
                                                td #{index + 1}
                                                td
                                                    each product in item.products
                                                        div(class = "item-content")
                                                            div(class = "item-name") #{product.name}
                                                            div(class = "item-quantity") x #{product.quantity}
                                                td  
                                                    div 
                                                        +formatDate(item.createdAt)
                                                td 
                                                    div #{item.priceOrder.toLocaleString()}₫
                                                td 
                                                    div #{item.status}
                            
                            else  
                                div(style="font-size: 15px") Không có đơn hàng nào.
                                            

                                            
        
