extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    .container.my-5
        .row.justify-content-center
            .col-4.form-fill
                div(class="text-title") NHẬP MÃ OTP XÁC THỰC
                form(
                    action="/user/password/otp"
                    method="POST"
                )
                    div(class="form-group")
                        label(for="email") Email
                            span(class="required") *
                        input(
                            type="email"
                            class="form-control"
                            placeholder="Email"
                            id="email"
                            name="email"
                            required
                            value=email
                            readonly
                        )
                    div(class="form-group")
                        label(for="otp") Mã OTP
                            span(class="required") *
                        input(
                            type="text"
                            class="form-control"
                            placeholder="Mã OTP"
                            id="otp"
                            name="otp"
                            required
                        )
                    div(class="form-group d-grid mt-3")
                        button(
                            type="submit"
                            class="btn"
                            style="margin-top: 8px"
                        ) Xác nhận