extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-error(5000)

    .container.my-5
        .row.justify-content-center
            .col-4.form-fill
                div(class="text-title") ĐỔI MẬT KHẨU
                form(
                    action="/user/password/reset"
                    method="POST"
                )
                    div(class="form-group")
                        label(for="password") Mật khẩu mới
                            span(class="required") *
                        input(
                            type="password"
                            class="form-control"
                            placeholder="Mật khẩu mới"
                            id="password"
                            name="password"
                            required
                        )
                    div(class="form-group")
                        label(for="confirmPassword") Xác nhận mật khẩu
                            span(class="required") *
                        input(
                            type="password"
                            class="form-control"
                            placeholder="Nhập lại mật khẩu"
                            id="confirmPassword"
                            name="confirmPassword"
                            required
                        )
                    div(class="form-group d-grid mt-3")
                        button(
                            type="submit"
                            class="btn"
                            style="margin-top: 8px"
                        ) Đổi mật khẩu